<svg width="480" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="480" height="200">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>
                .main {
                    /*margin-top: 40px;*/
                }

                .container {
                    /*overflow: hidden;*/
                }

	            .currentStatus {
	                display: block;
                    font-size: 20px;
                    position: static;
                    color: #a4acba;
                    margin: 0px 0px 7px 10px
                }

                .songcontainer {
                    height: 135px;
                    border-radius: 10px;
                    background-color: #131313;
                    padding: 5px;
                    /*overflow: hidden;*/
                    display: flex;
                }

                .art {
                    width: 28%;
                    float: left;
                }

                .content {
                    width: 69%;
                    margin-left: 7px
                }

                .song {
                    color: #666;
                    overflow:hidden;
                    margin-top: 3px;
                    font-size: 24px;
                    text-align: center;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                }

                .artist {
                    color: #b3b3b3;
                    font-size: 18px;
                    margin-top: 4px;
                    text-align: center;
                }

                .cover {
                    width: 132px;
                    height: 132px;
                    border-radius: 7px;
                    border: 1px solid black;
                }

                #bars {
                    width: 325px;
                    height: 45px;
                    position: absolute;
                    left: 145px;
                    bottom: 25px;
                }

                .bar {
                    width: 3px;
                    bottom: 1px;
                    height: 3px;
                    position: absolute;
                    background: #21AF43;
                    border-bottom: solid 1px #21AF43;
                    border-radius: 1px 1px 0px 0px;
                    animation: sound 0ms -800ms linear infinite alternate;
                }
                
                div {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }
                
                @keyframes sound {
                    0% {
                        height: 5px;
                        opacity: 0.05;
                    }
                    10% {
                        height: 5px;
                        opacity: 0.3;
                    }
                    20% {
                        height: 15px;
                        opacity: 0.6;
                    }
                    50% {
                        height: 25px;
                        opacity: 0.6;
                    }
                    80% {
                        height: 30px;
                        opacity: 0.3;
                    }
                    95% {
                        height: 35px;
                        opacity: 0.3;
                    }
                    100% {
                        height: 45px;
                        opacity: 0.99;
                    }
                }
                {{barCSS|safe}}
            </style>

            <div class="main">
	            <div class="currentStatus">{{status}}</div>
	            <div class="songcontainer">
	                <a class="art" href="{}" target="_blank">
	                    <center>
	                        <img src="data:image/png;base64, {{image}}" class="cover" />
	                    </center>
	                </a>

	                <div class="content">
	                    <div class="song">{{songName}}</div>
	                    <div class="artist">{{artistName}}</div>
	                    <div id="bars">{{contentBar|safe}}</div>
	                </div>
	            </div>
            </div>
        </div>
    </foreignObject>
</svg>